= form_for @board, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :country_id, :class => 'control-label'
    .controls
      = @country.name
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .form-actions
    = f.hidden_field :country_id, :value => params[:country_id] if params[:country_id] != nil
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), boards_path, :class => 'btn'

