- model_class = Board
.page-header
  .row
    .span6
      /*%h1=t '.title', :default => model_class.model_name.human.pluralize*/
      %h2
        List Board of 
        %font{color: :red}
          = @country.name
        = image_tag @country.flag_image
    .pull-right
      =# link_to t('.new', :default => t("helpers.links.new")), cut_board_path, :class => 'btn btn-primary'
      =# link_to "New Board", "#", :class => 'btn btn-primary', :id => 'create-user'
      =# %button{:class => "btn btn-primary", :id => "create-user"} New Board
      <button class="btn btn-primary" id="create-user">New Board</button>

// dialog form
= form_for Board.new, :html => { :class => 'form-horizontal', :id => 'dialog-form', :title => 'Create new Board' } do |f|
  %p.validateTips All form fields are required.
  //.control-group
  //  = f.label :country_id, :class => 'control-label'
  //  .controls
  //    = @country.name
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field text ui-widget-content ui-corner-all', :type => "text"
  .form-actions{:style => "display:none"}
    = f.hidden_field :country_id, :value => params[:country_id] if params[:country_id] != nil
    = f.submit nil, :class => 'btn btn-primary', :style => "display:none;", :id => "create_board_submit"
    = link_to t('.cancel', :default => t("helpers.links.cancel")), boards_path, :class => 'btn', :style => "display:none;"


%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th Created Datetime
      //%th= model_class.human_attribute_name(:created_at)
      -#%th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @boards.each do |board|
      %tr
        %td= link_to board.title, comment_list_path(board.id)
        %td= board.created_at.strftime("%d/%m/%Y %H:%M").to_str
        -#%td
          =# link_to t('.edit', :default => t("helpers.links.edit")), edit_board_path(board), :class => 'btn btn-mini'
          =# link_to t('.destroy', :default => t("helpers.links.destroy")), board_path(board), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'


